{% extends "mainapp/header.html" %}

{% block content %}

    {% load staticfiles %}

    <div class="container-fluid">
        <div class="row">
            <img class="col-sm-4" src="http://webcams.hotelcozumel.com.mx:6012/axis-cgi/mjpg/video.cgi?resolution=320x240&dummy=1468860147988">
            <img class="col-sm-4" src="http://webcams.hotelcozumel.com.mx:6012/axis-cgi/mjpg/video.cgi?resolution=320x240&dummy=1468860147988">
            <img class="col-sm-4" src="http://webcams.hotelcozumel.com.mx:6012/axis-cgi/mjpg/video.cgi?resolution=320x240&dummy=1468860147988">
        </div>
    </div>

{% endblock %}