{% extends "mainapp/header.html" %}

{% block content %}

    {% load staticfiles %}

    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Engine Room Ventilation</td>
                <td>
                    <div class="btn-group align-middle">
                        <button type="button" class="btn btn-primary " id="off_button"> OFF </button>
                        <button type="button" class="btn btn-secondary" id = "on_button"> ON </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Current temperature</td>
                <td>24°C</td>
            </tr>
        </tbody>
    </table>

    <script>
        $('#off_button').on('click', function (e) {
            document.getElementById("on_button").className = "btn btn-secondary lg";
            document.getElementById("off_button").className = "btn btn-primary lg";
        })
        $('#on_button').on('click', function (e) {
            document.getElementById("on_button").className = "btn btn-primary lg";
            document.getElementById("off_button").className = "btn btn-secondary lg";
        })
    </script>


{% endblock %}