{% extends "mainapp/header.html" %}

{% block content %}

    {% load staticfiles %}

<table class="table table-hover">
    <thead>
    <tr>
        <th>Aeg</th>
        <th>Parameeter</th>
        <th>Väärtus</th>
        <th>Ühik</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Main Engine PS Gearbox Oil Temperature</td>
        <td>56</td>
        <td>°C</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Main Engine PS Speed</td>
        <td>1231</td>
        <td>rpm</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Fuel Tank PS Level</td>
        <td>41</td>
        <td>%</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Main Engine PS Coolant Temperature</td>
        <td>64</td>
        <td>°C</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Main Engine PS Coolant Pressure</td>
        <td>5.2</td>
        <td>bar</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Fuel Tank PS Volume</td>
        <td>4210</td>
        <td>l</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Main Engine SB Gearbox Oil Temperature</td>
        <td>51</td>
        <td>°C</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Main Engine SB Speed</td>
        <td>1147</td>
        <td>rpm</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Fuel Tank SB Level</td>
        <td>82</td>
        <td>%</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Fuel Tank SB Volume</td>
        <td>8420</td>
        <td>l</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Main Engine SB Coolant Temperature</td>
        <td>61</td>
        <td>°C</td>
    </tr>
    <tr>
        <td>26.04.2018 17:33:30</td>
        <td>Main Engine SB Coolant Pressure</td>
        <td>4.9</td>
        <td>bar</td>
    </tr>
    </tbody>
</table>

{% endblock %}