<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="bg-light">
    <br><br>
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
          <a class="navbar-brand" href="/">IAMCS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/alarms">Alarmid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/positions">Positsioonid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/params">Parameetrid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cctv">CCTV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/changeable_settings">Muudetavad sätted</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/curr_settings">Hetkeparameetrid</a>
            </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="container" >
        <br><br>
        {% block content %}
        {% endblock %}
    </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>