<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <br><br>
    <div class="row" align="center">
        <div class="col"><button>Alarmid</button></div>
        <div class="col"><button>Positsioonid</button></div>
        <div class="col"><button>Parameetrid</button></div>
        <div class="col"><button>CCTV</button></div>
        <div class="col"><button>Muudetavad sätted</button></div>
        <div class="col"><button>Hetkeparameetrid</button></div>

    </div>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>