{% extends "mainapp/header.html" %}

{% block content %}

    {% load staticfiles %}

    <span align="center">
        <div class="row">
            <div class="col-sm-3 card" style="height: 275px">Alarmid</div>
            <div class="col-sm"></div>
            <div class="col-sm-3 card" style="height: 275px">Positsioonid</div>
            <div class="col-sm"></div>
            <div class="col-sm-3 card" style="height: 275px">Parameetrid</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3 card" style="height: 275px">CCTV</div>
            <div class="col-sm"></div>
            <div class="col-sm-3 card" style="height: 275px">Muudetavad sätted</div>
            <div class="col-sm"></div>
            <div class="col-sm-3 card" style="height: 275px">Hetkeparameetrid</div>
        </div>
    </span>

{% endblock %}