{% extends "mainapp/header.html" %}

{% block content %}

    {% load staticfiles %}

    <span align="center">
        <div class="row">
            <div class="col-sm-3 card" style="height: 275px"> <a href="/alarms">Alarmid</a></div>
            <div class="col-sm"></div>
            <div class="col-sm-3 card" style="height: 275px"><a href="/positions">Positsioonid</a></div>
            <div class="col-sm"></div>
            <div class="col-sm-3 card" style="height: 275px"><a href="/params">Parameetrid</a></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3 card" style="height: 275px"><a href="/cctv">CCTV</a></div>
            <div class="col-sm"></div>
            <div class="col-sm-3 card" style="height: 275px"><a href="/changeable_settings">Muudetavad sätted</a></div>
            <div class="col-sm"></div>
            <div class="col-sm-3 card" style="height: 275px"><a href="/curr_params">Hetkeparameetrid</a></div>
        </div>
    </span>

{% endblock %}