{% extends "mainapp/header.html" %}

{% block content %}

    {% load staticfiles %}

    <span align="center">
        <div class="row">
            {% for params in row1 %}
            <div class="d-none d-md-block col-4">
                <a href="{{ params.0 }}"><img class="img" src="{% static params.1 %}"></a>
            </div>
            {% endfor %}

            <span class="d-md-none">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>
                                <a href="{{ whole.0.0 }}">
                                <i class="{{ whole.0.2 }}" style="color: {{ whole.0.3 }}"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ whole.1.0 }}">
                                <i class="{{ whole.1.2 }}" style="color: {{ whole.1.3 }}"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ whole.2.0 }}">
                                <i class="{{ whole.2.2 }}" style="color: {{ whole.2.3 }}"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ whole.3.0 }}">
                                <i class="{{ whole.3.2 }}" style="color: {{ whole.3.3 }}"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ whole.4.0 }}">
                                <i class="{{ whole.4.2 }}" style="color: {{ whole.4.3 }}"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ whole.5.0 }}">
                                <i class="{{ whole.5.2 }}" style="color: {{ whole.5.3 }}"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </div>
        <br>
        <div class="row">
            {% for params in row2 %}
                <div class="d-none d-md-block col-4">
                    <a href="{{ params.0 }}"><img class="img" src="{% static params.1 %}"></a>
                </div>
            {% endfor %}
        </div>
    </span>

{% endblock %}