{% extends "mainapp/header.html" %}

{% block content %}

    {% load staticfiles %}

    <table class="table table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Latitude</th>
            <th>Longitude</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>26.04.2018 17:33:31</td>
            <td>58.2157</td>
            <td>22.3950</td>
        </tr>
        <tr>
            <td>27.04.2018 04:14:47</td>
            <td>57.0178</td>
            <td>23.4201</td>
        </tr>
        </tbody>
      </table>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item-4by3 border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d259145.11306562254!2d24.345583241835964!3d59.50691081034188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929765947cf119%3A0x5537f696219e9ffd!2sTallinn+Bay!5e0!3m2!1sru!2see!4v1525794772012" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      <!--<iframe class="embed-responsive-item border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d259145.11306562254!2d24.345583241835964!3d59.50691081034188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929765947cf119%3A0x5537f696219e9ffd!2sTallinn+Bay!5e0!3m2!1sru!2see!4v1525794772012"></iframe>-->
    </div>

{% endblock %}